@font-face {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url('Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}



header {
    position: absolute;
    width: 1440px;
    height: 117px;
    left: 0px;
    top: 0px;

    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

#logo-dindin {
    position: absolute;
    width: 250px;
    height: 80px;
    left: 82px;
    top: 20px;
}


#lista-header {
    display: flex;

    position: absolute;
    width: 80px;
    height: 23px;
    left: 1028px;
    top: 32px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FDFDFD;
}

#lista-header>li {
    padding: 0px 20px;
}

main h1 {
    position: absolute;
    width: 758px;
    height: 46px;
    left: 310px;
    top: 228px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    
    color: #FF4081;
}

main h4 {
    position: absolute;
    width: 200px;
    height: 21px;
    left: 620px;
    top: 286px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #9D9D9D;
}

#img-cinza {
    position: absolute;
    width: 1032px;
    height: 465px;
    left: 204px;
    top: 381px;
    
    background: #C4C4C4;
}

article {
    position: absolute;
width: 1032px;
height: 1061px;
left: 204px;
top: 910px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
font-feature-settings: 'kern' off;

color: #000000;
}

#titulo1 , #titulo2 {
    color:#2E948A;
}

section {
    position: absolute;
width: 1440px;
height: 899px;
left: 0px;
top: 2082px;

background: #F7F7F7;
}

section h1 {
    position: absolute;
width: 528px;
height: 57px;
left: 456px;
top: 79px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 57px;
display: flex;
align-items: center;

color: #FF4081;
}

section #ilustra-invest-iniciantes {
    position: absolute;
    width:288px;
    height:279.06px;
    left: 156px;
    right: 996px;
    top: 237px;
    bottom: 382.94px;
    
    background: #F7F7F7;
    border: 1px solid #F7F7F7;
}

section #invest-ini {
    position: absolute;
    width: 344px;
    height: 35.71px;
    left: 128px;
    top: 568.16px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    
    color: #FF4081;
}

#lorem1 {
    position: absolute;
width: 293px;
height: 73.89px;
left: 154px;
top: 632.2px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
text-align: center;

color: #000000;
}

#b1 {
    position: absolute;
width: 233px;
height: 62.81px;
left: 184px;
top: 738.11px;

border:#FF4081;
background: #FF4081;
border-radius: 62px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}

section #ilustra-poup-rend {
    position: absolute;
    width:238px;
    height:279.06px;
    left: 623px;
    right: 579px;
    top: 237px;
    bottom: 382.94px;
    
    background: #F7F7F7;
    border: 1px solid #F7F7F7;
}

section #poup-rend {
    position: absolute;
width: 267px;
height: 35.71px;
left: 606px;
top: 565.7px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #FF4081;
}

#lorem2 {
    position: absolute;
width: 293px;
height: 73.89px;
left: 593px;
top: 629.73px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
text-align: center;

color: #000000;
}

#b2 {
    position: absolute;
width: 233px;
height: 62.81px;
left: 623px;
top: 735.64px;

border:#FF4081;
background: #FF4081;
border-radius: 62px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}

section #ilustra-indep-finan {
    position: absolute;
    width:187px;
    height:279.06px;
    left: 1066px;
    right: 187px;
    top: 237.16;
    bottom: 382.79px;
    
    background: #F7F7F7;
    border: 1px solid #F7F7F7;
}

section #indep-finan {
    position: absolute;
width: 304px;
height: 35.71px;
left: 1007px;
top: 565.7px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #FF4081;
}

#lorem3 {
    position: absolute;
width: 293px;
height: 73.89px;
left: 1013px;
top: 629.73px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
text-align: center;

color: #000000;
}

#b3 {
    position: absolute;
width: 233px;
height: 62.81px;
left: 1043px;
top: 735.64px;

border:#FF4081;
background: #FF4081;
border-radius: 62px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}

footer {
    position: absolute;
    width: 1440px;
    height: 207px;
    left: 0%;
    right: 0%;
    top: 2981px;
    bottom: 0%;

    background: #419488;
}

footer img {
    position: absolute;
    left: 8.89%;
    right: 84.27%;
    top: 25.6%;
    bottom: 25.4%;
}

footer ul {
    position: absolute;

    left: 43.26%;
    right: 51.81%;
    top: 25.6%;
    bottom: 34.3%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

footer li {
    padding: 2px 0px;
}

.bt-footer #bt1 {
    box-sizing: border-box;

    position: absolute;
    left: 70.42%;
    right: 9.51%;
    top: 24.15%;
    bottom: 51.21%;

    border: 2px solid #FFFFFF;
    border-radius: 62px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    background-color: #419488
}

.bt-footer #bt2 {
    box-sizing: border-box;

    position: absolute;
    left: 70.42%;
    right: 9.51%;
    top: 55.07%;
    bottom: 20.29%;

    border: 2px solid #FFFFFF;
    border-radius: 62px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
    background-color: #419488;
}